.ellipse {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Material Symbols Outlined';
    font-size: 30px;

    &_sz-default {
        width: 60px;
        height: 60px;
    }

    &_sz-large {
        width: 160px;
        height: 160px;
    }

    &_sz-small{
        width: 5px;
        height: 5px;
    }

    &_white {
        background: white;
    }
}