@font-face {
    font-family: 'RalewayRegular';
    src: url(./res/fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'RalewayExtraBold';
    src: url(./res/fonts/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: 'RalewaySemiBold';
    src: url(./res/fonts/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: 'RalewayBold';
    src: url(./res/fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: 'RalewayMedium';
    src: url(./res/fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v114/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
  }